.h130 img
{
	height: 130px;
}

.h140 img
{
	height: 140px;
}

.h150 img
{
	height: 140px;
}

.tall code
{
	line-height: 2 !important;
}

.low h2
{
	margin-bottom: 40px;
}

.image-center img
{
	width: 100%;
}


.raf-code.slide pre.language-javascript
{
	margin-left: -110px;
}
.slide code.language-javascript,
.slide pre.language-javascript
{
	font-size: 32px;
	max-height: none;
}
.code-36.slide code.language-javascript,
.code-36.slide pre.language-javascript
{
	font-size: 36px;
}
.code-30.slide code.language-javascript,
.code-30.slide pre.language-javascript
{
	font-size: 30px;
}
.language-javascript .token.function
{
	color: #76FF92;
}
.language-javascript .token.comment
{
	color: #C8C8C8;
}
.language-javascript .token.punctuation
{
	color: #fff;
}

.middle h2
{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -115px;
	margin-top: -30px;
}

.bigger.slide > div > ul > li
{
	font-size: 42px;
}

.m0.slide h2
{
	margin-bottom: 0px;
}
.m30.slide h2
{
	margin-bottom: 30px;
}